collections
inventory/group_secrets
inventory/host_secrets
.terraform
.vscode
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl
.sops.yaml
terraform-secrets.yaml
inventory/prod
inventory/group_vars/production/net_info.yml
*.code-workspace