server {
    listen [{{ public_ip6 }}]:80;
    listen {{ public_ip }}:80;

    server_name {{ service_name }}.{{ host }} www.{{ service_name }}.{{ host }};

    error_log  /var/log/nginx/{{ service_name }}.{{ ansible_facts['hostname'] }}.lan.error.log;
    access_log /var/log/nginx/{{ service_name }}.{{ ansible_facts['hostname'] }}.lan.access.log;

    listen [{{ public_ip6 }}]:443 ssl http2;
    listen {{ public_ip }}:443 ssl http2;

    ssl_certificate /etc/letsencrypt/live/{{ service_name }}.{{ host }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ service_name }}.{{ host }}/privkey.pem;

    include /etc/letsencrypt/options-ssl-nginx.conf;

    client_max_body_size 500M;

    if ($scheme != "https") {
        return 301 https://$host$request_uri;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://{{ proxy_host }}:{{ proxy_port }};
    }   
}